:root {
  --red: #dc3545;
}
p{
    font-size: 1.2rem;
}
/*! -------------- 1- NAVBAR ---------------- */



/*! ------------- 2- BANNER --------------- */
.banner {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  height: 100vh;
}

/*! ------------ 3- services ----------- */
.row i{
    font-size: 9rem;
}

/*! ------------- 4- portfolio -------------*/
#portfolio .row {
    background-color: #dd7b85;
}

/*! ----------- 4- STUDENTS SECTION ----------*/
.client img {
  height: auto;
  max-height: 50px;
}
/*! ----------- 5- COURSES SECTION ----------- */

/*! ----------- 6- CONTACT SECTION ------------ */
.contact{
  background: url(../img/map.jpeg) no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #eee;
}
/** -------------- UP-BUTTON ------------------ */

/*! --------------- 7- FOOTER ----------------- */
